*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Microsoft Sans Serif
}
.h1{
margin-top: 50px;
margin-left: 500px;
font-size: 50px;
}
.p{
margin-top: 20px;
margin-left: 540px;
font-size: 10px;
}
body
{
min-height: 100vh;
background: white;
}

.navigation
{
position: absolute;
margin-top: 5%;
top: 20px;
bottom: 20px;
left: 20px;
width: 50px;
border-radius: 20px;
box-sizing: initial;
border-left: 5px solid 	black;
background: 	black;
transition: width 0.5s;
overflow-x: hidden;
}
.navigation.active 
{
width: 250px;	
}
.navigation ul
{
padding-top: 50px;
padding-left: 5px;
}
.navigation ul li
{
position: relative;
list-style: none;
}

.navigation ul li a
{
position: relative;
margin:0;
width: 100%;
display: block;
display: flex;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
text-decoration: none;
color: white;
align-items: center;
}

.navigation ul li a .icon
{
position: relative;
min-width: 35px;
height: 60px;
line-height: 70px;
margin: 5;
font-size: 30px;
display: flex;
justify-content: center;
align-items: center

}

.navigation ul li a .icon title
{

white-space: normal;
display: block;
padding-left: 10px;
height: 60px;
line-height: 60px;
}
.navigation ul .list-active a
{
align-items: center;
background: white;
color: black;

}
.toggle
{
position: absolute;
top: 20px;
left: 20px;
height: 50px;
width: 50px;
border-radius: 20px;
background: 	black;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center
}
.toggle.active
{
background: 	black;	
}
.toggle ion-icon
{
position: absolute;
color: white;
font-size: 34px;
display: none;
}
.toggle ion-icon.open,
.toggle.active ion-icon.close
{
display: block;
}
.toggle ion-icon.close,
.toggle.active ion-icon.open
{
display: none;
}

/*for cakes*/

    .container{
    position: relative;
    height: 1050px;
    width: 500px;
    left: 50px;
    margin-bottom: 150px;
    top: 50px;
    }
    
     .container ul{
        
        padding: 0;
        margin: 0;
    }
    .container ul li{
        float:left;
        position: relative;
        list-style: none;
        width: 300px;
        height: 450px;
        background: rgba(255,255,255,0.2);
        box-shadow: 0 15px 25px rgba(0,0,0,0.5);
        border: 1px solid rgba(255,255,255,0.25);
        border-top: 1px solid rgba(255,255,255,0.5);
        border-left: 1px solid rgba(255,255,255,0.5);
        border-radius: 10px;
        backdrop-filter:blur(4px);
        padding: 60px 20px;
        margin: 40px 40px 9px 20px;
        display: flex;
        justify-content: center;
        font-size: 22px;
    }
 
    .container ul li img{
        position: absolute;
        display: flex;
        justify-content: center;
        margin-top: 50px;
        transition: 0.5s;
    }
    .container ul li img:hover{
        transform: scale(1.2);
    }
    .container ul li label{
        font-weight: 100;
    }
    .container ul li button{
        position: absolute;
        width: 200px;
        display: flex;
        justify-content: center;
        border-radius: 20px;
        margin-top: 300px;
    }
    footer{
        margin-top: 500px;
        font-size: 25px;
    }
    .display-2{
        margin-left: 40%; text-shadow: 3px 5px 2px red;
    }
    .display-2:hover{
        text-shadow: 3px 5px 2px cyan;
    }